parameters:

    paths:
        - src

    level: 6
    parallel:
        maximumNumberOfProcesses: 16

    reportUnmatchedIgnoredErrors: false
    editorUrl: 'phpstorm://open?file=%%file%%&line=%%line%%'

#   level 6
    checkGenericClassInNonGenericObjectType: false
    checkMissingIterableValueType: false
